In [1]:
dic={1111111111:'Amal',2222222222:'Mohammed', 3333333333:'Khadijah',4444444444:'Abdullah',5555555555:'Rawan' , 6666666666:'Faisal', 7777777777:'Layla'}

In [2]:
dicdf={'Name':['Amal','Mohammed', 'Khadijah','Abdullah','Rawan', 'Faisal', 'Layla'], 'Number':[1111111111,2222222222,3333333333,4444444444,5555555555,6666666666,7777777777]}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(dicdf)  
df

       Name      Number
0      Amal  1111111111
1  Mohammed  2222222222
2  Khadijah  3333333333
3  Abdullah  4444444444
4     Rawan  5555555555
5    Faisal  6666666666
6     Layla  7777777777

### If the number exists, print the owner. Otherwise, print "Sorry, the number is not found".
### If the number is less or more than 10 numbers, print "This is invalid number".
### If the number contains letters or symbols, print "This is invalid number".

In [11]:
num=input('enter a phone number ')
# num=int(num)
length=len(num)
length

enter a phone number 2222222222

10

In [12]:
if length > 10 or length < 10:
    print('This is invalid number, less or higher than 10')
elif not num.isdigit():
    print('This is invalid number, it contains letters')
elif int(num) in dic.keys():
    print(dic[int(num)])
else:
    print('Sorry, the number is not found')

Mohammed